body {
    font-family: 'Poppins', sans-serif !important;
}

/* Navbar */
.navbar {
  background: white !important;
  padding: 15px 0;
}
.navbar-brand {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffc107 !important;
}
.navbar-toggler {
  background-color: black !important;
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-nav .nav-link {
  color: black !important;
  font-weight: 500;
  transition: 0.3s;
}
.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}
.hero-wrap {
    height: 100vh;
    background: url('images/bg_1.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.hero-wrap .container {
  position: relative;
  text-align: center;
}
.hero-wrap h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
}
.hero-wrap p {
  font-size: 1.2rem;
  color: #fff;
}
/* Pagination */
.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50% !important;
    background-color: transparent;
    color: #08C299;
    border: 2px solid #08C299;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.pagination .page-item.active .page-link {
    background-color: #08C299;
    color: white;
    border-color: #08C299;
}

.pagination .page-link:hover {
    background-color: #08C299;
    color: white;
    transform: scale(1.1);
}
.blogs{
  width:375px;
  height: auto;
  overflow-x: hidden;
}
.blog-entry {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.blog-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.blog-entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.blog-text {
  text-align: center;
}
.blog-text .link{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limits to 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;                  
  text-overflow:ellipsis;
}

.blog-tag {
  display: inline-block;
  background: #ff4081;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.blog-meta {
  font-size: 14px;
  color: #888;
}
@media (max-width: 768px) {
  .blogs {
    width: 100%;
  
  }
}